.flex-c-c-c
  display flex
  justify-content center
  align-items center

.flex-fs-c-c
  display flex
  justify-content flex-start
  align-items center

.flex-sa-c-c
  display flex
  justify-content space-around
  align-items center

.column
  display flex
  flex-direction column

.box-400-800
  min-width 400px
  min-height 800px

.box-400-400
  min-width 400px
  min-height 400px

.box-400-200
  min-width 400px
  min-height 200px

.content-wrapper
  height calc(100% - 60px)
  width 100%
  display flex
  justify-content center
  align-items center

::-webkit-scrollbar 
  width 13px // to adjust width


::-webkit-scrollbar-track 
  background #FFFFFF
  -webkit-box-shadow inset 1px 1px 2px #E0E0E0
  border 1px solid #D8D8D8 //color of the track of scroll bar

::-webkit-scrollbar-thumb 
  background #646464
  -webkit-box-shadow inset 1px 1px 2px rgba(155, 155, 155, 0.4)

::-webkit-scrollbar-thumb:hover 
  background #aaaaaa

::-webkit-scrollbar-thumb:active 
  background #888
  -webkit-box-shadow inset 1px 1px 2px rgba(0, 0, 0, 0.3) 
