@import "~assets/css/consts"

@font-face
  font-family 'Gilroy'
  src url('~assets/fonts/Gilroy-Light.woff')
  font-weight 400
  font-style normal

@font-face
  font-family 'Bebas'
  src url('~assets/fonts/BebasNeue_Light.woff')
  font-weight 400
  font-style normal

@font-face
  font-family 'Bebas'
  src url('~assets/fonts/BebasNeue_Regular.woff')
  font-weight 700
  font-style oblique

@font-face
  font-family 'Bebas'
  src url('~assets/fonts/BebasNeue_Regular.woff')
  font-weight 100
  font-style normal

@font-face
  font-family 'Code Pro Light'
  src url('~assets/fonts/CodeProLight.woff')
  font-weight 400
  font-style normal

@font-face
  font-family 'Code Pro Light'
  src url('~assets/fonts/CodePro.woff')
  font-weight 700
  font-style oblique

@font-face
  font-family 'Code Pro Light'
  src url('~assets/fonts/CodePro.woff')
  font-weight 100
  font-style normal

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance none
  margin 0

input[type='number']
  -moz-appearance textfield

select
  -webkit-appearance none
  -moz-appearance none
  text-indent 1px
  text-overflow ''
  &::-ms-expand
    display none

input, textarea, select
  font-family 'Gilroy'

html
  min-height 100%
  height 100%
  min-width $min_width
  -webkit-transition background-color 1s
  transition background-color 1s
  overflow-y: auto;
  .loading
    background #FFF url('~assets/images/icons/rolling.gif') no-repeat 50% 50%
    background-size 30px
    -webkit-transition background-color 0s
    transition background-color 0s
    body
      opacity 0
      -webkit-transition opacity 0s
      transition opacity 0s

video
  width auto
  height auto
  max-height 100%

body
  min-height 100%
  width 100%
  height 100%
  margin 0
  font-family "Code Pro Light"
  min-width $min_width
  -webkit-transition opacity 1s
  transition opacity 1s
  overflow-y auto
  font-size $standard-font-size

section
  .page-wrapper
    transition 0.5s
    box-sizing border-box
    padding-top 20px
    width 100%
    min-height "calc(100% - %s)" % ($header-mini-height)
    min-width $min_width
    @media only screen and (min-height: 600px)
      min-height "calc(100% - %s)" % ($header-height)
      margin-bottom $footer_height;
      overflow-y auto;
    &:after
      content ""
      display block
      height $footer_height

.horizontal_flex
  display flex
  justify-content space-around
  align-items center
  align-content center

#photohome, #videohome
  background url('~assets/images/fon1part.png') repeat
  background-size cover
  overflow hidden

#videohome
  background url('~assets/images/fon2part.png') repeat
  background-size cover

h1
  text-align center
  font-size 3em
  font-weight 700
  -webkit-margin-before 0
  -webkit-margin-after 0
  text-align center

h2
  text-align center
  font-size 1em
  font-weight 500
  margin-bottom 0px

.whitestripe form
  margin 0
  width 80%

.active
  z-index 50

.slider-wrapper
  position relative
  max-width $screen-md-min
  min-width "calc(%s * 0.8)" % ($min_width)
  span
    position absolute
    width 200px
    font-size 1.4em
    display block
    text-align center
    left 50%
    top 10%
    margin-left -100px
  min-height 200px
  max-height 250px
  margin 0 auto
#slider, #slider2
  width calc(100% - 50px)
  max-width 800px

.slider-price-cell
  position absolute
  width 60px
  font-size 1.3em
  top 10%
  font-family "Code Pro Light"
  font-weight 700

.cell-min
  left 5%
  border none

.cell-max
  right 0%
  border none

.btn-search
  display block
  border 1px solid black
  height 50px
  width 50%
  min-width 88px
  max-width 300px
  color white
  text-align center
  background black
  text-decoration none
  -webkit-filter drop-shadow(0 0 2px black)
  transition 0.5s ease
  font-size 1.5em
  line-height 50px
  margin-bottom 20px
  @media only screen and (max-height: $screen-xsm-min)
    margin-bottom 0
  &:hover
    background gray
    cursor pointer

.btn-search div
  padding 2px
  border 1px solid gray
  border-radius 5%
.register_label
  flex-direction row
  justify-content center
  align-items center
  box-sizing border-box
  padding 5px
  text-align center
  color whitesmoke
  min-height 20px
  line-height 20px
  .register_field
    display flex
    flex-direction column
    justify-content center
    align-items center
    flex-grow 2
    min-width 175px
    min-height 45px
    padding 5px
    box-sizing border-box
    text-align center
    color whitesmoke
    line-height 45px
    max-height 110px
    margin 0 auto
.quart-row-field
  display block
  width 25%
  height 100%
  line-height 100%
.nice_button
  display block
  width 100px
  height 100px
  border-radius 10px
  //border darkgray
  //background linear-gradient(to bottom, #999999, #BBBBBB)

.filter-wrapper
  position relative
  display flex
  justify-content space-around
  flex-wrap wrap
  width 80%
  height 400px
  max-width 1200px
  margin -20px auto

#filter-item-front-1
  background-image url('~assets/images/sections/tfp.jpg')
  background-size cover

#filter-item-front-2
  background-image url('~assets/images/sections/fashion.jpg')
  background-size cover

#filter-item-front-3
  background-image url('~assets/images/sections/wedding.jpg')
  background-size cover

#filter-item-front-4
  background-image url('~assets/images/sections/familyandkids.jpg')
  background-size cover

#filter-item-front-5
  background-image url('~assets/images/sections/holidays.jpg')
  background-size cover

#filter-item-front-6
  background-image url('~assets/images/sections/party.jpg')
  background-size cover

#filter-item-front-7
  background-image url('~assets/images/sections/personal.jpg')
  background-size cover

#filter-item-front-8
  background-image url('~assets/images/sections/lovestory.jpg')
  background-size cover

#filter-item-front-9
  background-image url('~assets/images/sections/commerce.jpg')
  background-size cover

#filter-item-front-10
  background-image url('~assets/images/sections/interrior.jpg')
  background-size cover

#filter-item-front-11
  background-image url('~assets/images/sections/objective.jpg')
  background-size cover

#filter-item-front-12
  background-image url('~assets/images/sections/others.jpg')
  background-size cover

#videofilter-item-front-1
  background-image url('~assets/images/sections/clips.jpg')
  background-size cover

#videofilter-item-front-2
  background-image url('~assets/images/sections/art.jpg')
  background-size cover

#videofilter-item-front-3
  background-image url('~assets/images/sections/wedding.jpg')
  background-size cover

#videofilter-item-front-4
  background-image url('~assets/images/sections/holidays.jpg')
  background-size cover

#videofilter-item-front-5
  background-image url('~assets/images/sections/party.jpg')
  background-size cover

#videofilter-item-front-6
  background-image url('~assets/images/sections/lovestory.jpg')
  background-size cover

#videofilter-item-front-7
  background-image url('~assets/images/sections/commerce.jpg')
  background-size cover

#videofilter-item-front-8
  background-image url('~assets/images/sections/others.jpg')
  background-size cover

#videofilter-item-front-9
  background-image url('~assets/images/sections/motiondesign.jpg')
  background-size cover

.registration-box
  background-color rgb(62, 63, 66)
  border-radius 5px
  font-family 'Code Pro Light'
  padding 20px 0
  max-width 450px
  min-width 200px
  min-height 450px
  width 90%
  margin 0 auto
  font-weight 100
  filter drop-shadow(0px 0px 5px black)
  a
    text-decoration none
    color whitesmoke
    transition-duration 200ms
    &:hover
      text-decoration underline
  .register_field_price
    width 100px
    height 30px
  input
    width 80%
    margin 0
    min-height 40px
    box-sizing border-box
    padding 5px
    line-height 40px
    font-size 1.2em
    border-radius 5px
  .field_with_errors input
    border 1px red solid
  .form-submit-btn
    margin 10px 0
    background whitesmoke
    color rgb(19, 20, 22)
    transition 0.3s

.registration-box-fields-wrapper
  display flex
  min-width 175px
  max-width 350px
  width 100%
  flex-wrap wrap
  justify-content center

.add-offer
  box-sizing border-box
  min-height 320px
  max-height 320px
  min-width 450px
  .registration-box
    min-height 300px
    max-height 300px
    height 100%
    font-family 'Code Pro Light'
    font-weight 100
  .category_and_price_field
    width 80%
    display flex
    margin 0 auto
    margin-bottom 10px

.register_field
  display flex
  margin-bottom 10px
  flex-direction row
  justify-content center
  align-items center
  box-sizing border-box
  select
    width 100px
    height 30px
    border-radius 10px
    padding 5px

.register_field_description
  width 80%
  border-radius 10px
  height 90px

.small_mode
  min-width 100px

.full-row-field
  display flex
  justify-content center
  align-items center
  flex-grow 2
  padding 5px
  min-height 50px
  flex-basis 350px
  min-width 175px
  box-sizing border-box
  text-align center
  line-height 50px
  color white
  .full-row-field-link
    min-height 30px
    line-height 30px
    padding 5px

.quart-row-field input
  height 100%

.half-row-field
  display block
  width 50%
  height 100%

.form-header
  background rgb(19, 20, 22)
  min-height 75px
  font-weight bold
  line-height 75px
  color white
  border-radius 5px 5px 0 0
  margin-bottom 25px

.form-submit
  margin-top 0

.form-submit-btn:hover
  cursor pointer
  background rgb(19, 20, 22)
  color whitesmoke

.check-box-replace-button
  border white 2px solid
  border-radius 2px
  padding 10px
  color whitesmoke
  box-sizing border-box
  &:hover
    cursor pointer
    text-decoration underline

.custom-checkbox-checked
  background whitesmoke
  color black

.alert
  width 50%
  margin 20px auto
  background lightpink
  border-radius 10px
  padding 10px
  display none

.site-container
  width 100%

#flickrItems
  display block
  max-width $screen-md-min
  min-width $screen-xsm-min
  margin 10px auto
  .diamond-row-wrap
    margin 0 auto

.centered_block
  margin 10px auto 0

.add_new_item
  display block
  width calc(100% - 40px)
  height 100%
  background url("~assets/images/icons/add_icon.png") no-repeat 50% 50%
  background-size 50%

#tempObjects
  display none

.form-element-with-title
  display flex
  flex-direction column
  align-items center
  justify-content space-around
  min-width 70px
  max-width 150px
  width 100%

.autosize-img
  height 100%
  width auto
  max-width 100%

#place-for-drop
  min-height 200px
  outline 2px gray dashed
  outline-offset -8px
  overflow-y auto

.swiper-container
  //flex-grow 10
  //min-width 160px
  //flex-basis 160px
  //position relative
  width 20000px
  height 100%
  .swiper-wrapper
    height 100%
    .swiper-slide
      width auto
      height 100%
      img
        height 100%
        width auto


.social-buttons-block
  display none
  justify-content space-around
  align-items center
  position absolute
  left calc(50% - 100px)
  bottom 100px
  width 200px
  height 100px
