@import '~assets/css/consts' 
@media screen and (min-width: $screen-xsm-min)
  body
    font-size 0.8em

@media screen and (min-width: 599px)
  body
    font-size 0.75em

  .filter-section-item
    width 85px
    height 85px

@media screen and (min-width: $screen-sm-min)
  body
    font-size 0.8em

  .filter-section-item
    width 105px
    height 105px

@media screen and (min-width: $screen-md-min)
  body
    font-size 0.9em

  .filter-section-item
    width 110px
    height 110px
    height 110px

@media screen and (min-width: $screen-lg-min)
  body
    font-size 0.9em

  .filter-section-item
    width 150px
    height 150px

@media screen and (max-height: $screen-xsm-min)
  .transparent-block300
    height 0%

  .whitestripe
    height 100%


@media screen and (min-height: 600px)
  .transparent-block300
    height 30%

  .whitestripe
    height 70%

