table
  thead
    tr
      td
        img(src="", alt="Canvas")
  tbody
    tr
      td
        table
          thead
            tr
              th
              |  Привет, #{name}!
          tbody
            tr
              td
                p Ссылка для подтверждения регистрации: #{confirmUrl}
                p Если вы не проходили процедуру регистрации на нашем сайте, можете просто проигнорировать данное сообщение.
          tfoot
            tr
              td
                p С наилучшими пожеланиями,
                  br
                  | команда Canvas.  
  